<div class="row">
  <div class="col-6">
    <button type="button" onclick="showDiv()">Rider Dashboard</button>
  </div>

  <div class="col-6">
    <button type="button" onclick="showDiv()">Driver Dashboard</button>
  </div>
</div>

<div class="" id="init_trip" style="display:none">
  <!-- Init Trip -->
  <%=
    form_for :trip, routes.trips_path, method: :post, id: 'init_form_trip' do
      text_field :latitude, id: 'latitude', placeholder: 'latitude'
      text_field :longitude, id: 'longitude', placeholder: 'longitude'
    submit 'Order Service'
  end
  %>
</div>

<div class="" id="end_trip" style="display:none">
  <!-- End Trip -->
  <%=
    form_for :trip, routes.trips_path, method: :patch, id: 'end_form_trip' do
      text_field :trip, id: 'trip', placeholder: 'trip code'
    submit 'End Service'
  end
  %>
</div>

<%= javascript 'logic' %>